
nav {
  z-index: 9999;
  
}


#nav-bar {
  background: linear-gradient(141deg, #00FF00 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 80px;
  position:fixed;
  top: 0;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  margin-top: 5px;
  height: 70px;
 }

 #nav-bar .header {
  font-size: 200%;
  color: white;
  position: relative;
  bottom: 20px;
  left: 10px
 }

.navContent {
  max-width: 720px;
  margin: 0 auto;
}

.navContent:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

 .leftSide {
   float: left;
 }

 .rightSide {
   float: right;
 }

 .composeButton {
   font-size: 125%;
   font-weight: 300;
   margin-top: 15px;
   margin-right: 50px;
   padding: 10px;
   border: 2px solid white;
   border-radius: 5px;
   color: white;
   background-color: deepskyblue;
   transition: all 0.5s;
 }

 .composeButton:hover {
  background-color: #00FF00;
  transform: scale(1.1);
  color: deepskyblue;
  border: 2px solid deepskyblue;
}

.composeButton:focus {
  outline: none;
}