main h2 {
    color: deepskyblue;
    border-bottom: 1px solid deepskyblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.new-tweet {
    display: none;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}

.new-tweet textarea {
    width: 100%;
    padding: 5px;
    border: 2px solid #1fc8db; 
}

.new-tweet textarea:focus {
    outline-width: 0;
}

.new-tweet form {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.new-tweet form button {
    float: left;
}

.new-tweet form span {
    float: right;
    font-size: 90%;
    padding: 5px;
    font-style: italic;
    color: #2cb5e8;
}

.new-tweet input {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: deepskyblue;
    transition: all 0.5s;
}

.new-tweet input:hover {
    transform: scale(1.05);    
}

.new-tweet input:focus {
    outline-width: 0;
}

.errorMessage {
    color: red;
    margin-left: 5px;
    margin-top:7px;
    position: absolute;
    top: 212px;
    margin-left: 60px; 
}